.wrapper {
  display: flex;
  /* background-color: var(--bg-primary); */
  min-width: 50vw;
  min-height: 50vh;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

.row {
  display: flex;
  gap: 1em;
}

.preview {
  display: flex;
  max-width: 80vw;

  max-height: 150px;
  overflow-y: auto;
}

.summary {
  width: 100%;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.image {
  width: 100px;
}

.button {
  width: 100%
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.imagesSection {
  background-color: var(--bg-primary);
  min-width: 60vw;
  min-height: 50vmin;
  border-radius: 20px;
  padding: 2em;
}

.images {
  display: flex;
  width: 100%;
  gap: 1em;
}

.imageWrapper {
  border-radius: 10px;
  /* padding: 1em; */
  background-color: rgba(88, 86, 86, 0.123);
}

.image {
  width: 100%;
  height: 100%;
}

.pick {
  padding: 1em;
  max-width: 150px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: .51em;
}

.galleriesSection {
  height: 100%;
  /* background-color: var(--bg-primary); */
  min-width: 23vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 3em;
  gap: 1em;
  /* justify-content: space-between; */
}

.pick {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}