.wrapper {
  display: flex;
  gap: 10px;
  font-size: 1em;
  align-items: center;
  padding-left: 1em;
  cursor: pointer;
  transition: all 400ms;
}

.wrapper:hover {
  transform: translateX(-10px);
}

.icon {
  display: flex;
  align-items: center;
}